/* Variables */
$app-gray: #4d4d4d;
$active: orange;

/* Styles */
#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $app-gray;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}

a.active {
    color: $active;
}

nav {
    padding-top: 20px;
}

span.day {
    border: 2px solid blue;
}