/* Variables */
$app-gray: #4d4d4d;
$active: orange;
$color-date: maroon;

/* Styles */
#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $app-gray;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}

a.active {
    color: $active;
}

nav {
    padding-top: 20px;
}

div.week {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div.day {
    border: 1px solid blue;
    width: 14.28%;
    min-height: 90px;
    background-color: lightgrey;
}

div.cur-day {
    background-color: palegoldenrod;
}

div.calendar-class {
    border: 1px solid blue;
}

span.date-day {
    font-weight: 600;
    color: $color-date;
}

span.date-label {
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}

span.date-start  {
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

span.date-end  {
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}